@import '../Styles/variables';
@import '../Styles/mixins';

.section-main {
    width: 100%;

    .meaning {
        .part-of-speech {
            display: flex;
            align-items: center;

            hr {
                width: 100%;
                border: none;
                border-bottom: 1px solid var(--Grayish);
                padding-top: 0.15rem;
                color: var(--Grayish);
            }
        }

        .type-header {
            padding: 0.75rem 0;
            color: var(--Grayish);
            font-weight: 500;
        }

        .definitions {
            padding-left: 1.5rem;
            margin-bottom: 1rem;
            list-style: none;
            font-weight: 500;

            .definition::before {
                content: "\2022";
                color: $Soft-Secondary-color;
                display: inline-block;
                width: 1rem;
                margin-left: -1.2em;
            }

            .definition {
                padding: 0.5rem;
            }
        }

        .synonyms,
        .antonyms {
            display: flex;
            gap: 0.5rem;
            margin: 0.5rem 0rem;

            .type-header {
                padding: 0.25rem 0;
            }

            .btn-container {
                @include flex-style;
                flex-wrap: wrap;
                justify-content: flex-start;

                .more-btn {
                    padding: 0.25rem 0;
                    font-size: 1rem;
                    margin-inline: 0.25rem;
                    color: $Soft-Secondary-color;
                    font-weight: 500;
                }
            }
        }
    }
}