// Dark Purple Palette
$White-bg: #fff;
$Black-bg: #1f1f1f;
$text-color: #000;
$Primary-color: #6B2AEE;
$Secondary-color: #9138FF;
$Tertiary-color: #C549FF;
$Complementary-color: #FFC849;

// Soft Purple Palette
$Soft-Primary-color: #9B4DCA;
$Soft-Secondary-color: #B56EDC;
$Soft-Tertiary-color: #D69EE4;
$Soft-Complementary-color: #E4D69E;

$Grayish: rgb(0,0,0,0.5);
//Default widths
$Start-width: 100%;

$border-radii: 8px;