@import '../Styles/variables';
@import '../Styles/mixins';

header{
    @include flex-style;
    padding: 2rem 0;
    .phonetics{
      .accent{
        padding: 0.5rem 0;
        color: $Soft-Secondary-color;
      }
    }
    .audio{
      width: 3rem;
      height: 3rem;
      padding: 1rem;
      border-radius: 50%;
      background-color: $Soft-Tertiary-color;
      position: relative;
      .audio-error{
        position: absolute;
        top: -1.2rem;
        left: -0.75rem;
        color: #f55;
        font-size: 0.75rem;
      }
      .play-btn{
        color: $Soft-Primary-color;
      }
    }
  }