@import './components/Styles/resets';
@import './components/Styles/variables';
@import './components/Styles/mixins';


body {
  background-color: $Body-bg;
  color: $text-color;
}

// .light-theme{
//   $Body-bg: #fff;
//   $text-color: #000;
//   $Grayish: rgba(0,0,0,0.2);
// }

// .dark-theme{
//   $Body-bg: #000;
//   $text-color: #fff;
//   $Grayish: rgba(255, 255, 255, 0.2);
// }

.body-main {
  width: 85%;
  margin-inline: auto;

  .search-form {
    @include flex-style;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: $border-radii;
    padding: 0 1rem;

    input {
      width: 90%;
      color: $text-color;
      font-size: 1.2rem;
      height: 100%;
    }

    #search {
      color: $Tertiary-color;
    }
  }
}

@media (min-width:768px) {
  .body-main {
    width: 60%;
  }
}